body {
  font-family: Arial, Helvetica, "microsoft yahei", sans-serif;
  color: #666;
  margin: 0px;
  font-size: 10px;
}
ul,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
dl,
dd {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img {
  vertical-align: bottom;
}
a {
  color: #2e2e2e;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
section {
  min-width: 1280px;
}
header {
  display: block;
  width: 100%;
  height: 100px;
  min-width: 1280px;
}
.h-nav {
  display: block;
  width: 100%;
  height: 100px;
}
.h-nav .content {
  margin: 0 auto;
  width: 1200px;
  height: 100px;
}
.h-nav .content .logo {
  width: 188px;
  height: 68px;
  float: left;
  display: block;
  margin-top: 16px;
}
.h-nav .content .logo img {
  vertical-align: top;
}
.h-nav .content > ul {
  display: block;
  float: left;
  width: auto;
  margin-left: 20px;
  margin-top: 53px;
}
.h-nav .content > ul li {
  height: 16px;
  line-height: 16px;
  float: left;
  display: block;
  margin-left: 65px;
  font-size: 16px;
  color: #2e2e2e;
}
.h-nav .content > ul li.active a {
  color: #73d196;
}
.h-nav .content > ul li:hover a {
  color: #73d196;
}
.h-nav .content > ul a {
  transition: all 0.3s ease;
}
.h-nav .content .tel {
  width: 160px;
  height: 100px;
  margin-left: 218px;
  display: block;
  float: left;
}
.h-nav .content .tel p {
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  color: #aaa;
  font-family: Helvetica;
  margin-top: 20px;
}
.h-nav .content .tel > div {
  margin-top: 13px;
  margin-left: 46px;
  text-align: center;
}
.h-nav .content .tel > div a {
  display: block;
  float: left;
  width: 52px;
  height: 26px;
  font-size: 16px;
  line-height: 26px;
}
.h-nav .content .tel > div a:nth-child(1) {
  background: #f27939;
  border-radius: 4px;
  color: #fff;
}
.h-nav .content .tel > div a:nth-child(2) {
  position: relative;
  left: 5px;
  top: 1px;
  color: #6e6e6e;
  transition: all 0.3s ease;
}
.h-nav .content .tel > div a:nth-child(2):hover {
  color: #f27939;
}
.h-fixed {
  height: 60px;
  position: fixed;
  background: #fff;
  opacity: 0;
  top: 0px;
  z-index: 9999;
  box-shadow: 0px 4px 3px #ebebeb;
  -webkit-transform: translateZ(0);
}
.h-fixed .content {
  height: 60px;
}
.h-fixed .content .logo {
  height: 56px;
  margin-top: 2px;
}
.h-fixed .content .logo img {
  vertical-align: top;
  height: 56px;
}
.h-fixed .content > ul {
  margin-top: 22px;
}
.h-fixed .content .tel {
  height: 60px;
}
.h-fixed .content .tel p {
  display: none;
}
.h-fixed .content .tel > div {
  margin-top: 16px;
}
.s-fixed {
  transition: opacity .8s ease;
  opacity: 1;
  top: 0px;
}
footer {
  width: 100%;
  height: 330px;
  background: url(../../img/bg-footer.jpg);
  background-size: cover;
  position: relative;
  min-width: 1280px;
}
footer .cover {
  width: 100%;
  height: 330px;
  background: #000;
  opacity: .3;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
footer .content {
  margin: 0 auto;
  width: 1200px;
  padding: 42px 0 58px;
  position: relative;
  z-index: 3;
}
footer .content li {
  float: left;
}
footer .content li .logo {
  display: block;
  width: 158px;
  height: 57px;
  background: url(../../img/footer_logo.png);
  margin-bottom: 30px;
}
footer .content li p {
  font-size: 14px;
  color: #fff;
}
footer .content li:nth-child(1) {
  width: 630px;
}
footer .content .about {
  margin-left: 178px;
}
footer .content .about .title {
  font-size: 26px;
  margin-bottom: 22px;
}
footer .content .about a {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  margin: 0 16px 16px 0;
}
footer .content .focus {
  margin-left: 122px;
}
footer .content .focus .title {
  font-size: 16px;
  margin: 4px 0 27px 0;
}
footer .content .focus > div span {
  display: inline-block;
  width: 50px;
  height: 50px;
}
footer .content .focus > div span:nth-child(1) {
  background: url(../../img/wx.png);
}
footer .content .focus > div span:nth-child(2) {
  background: url(../../img/sina.png);
  margin-left: 7px;
}
footer .content .focus .bbs {
  font-size: 14px;
  margin-top: 20px;
  color: #fff;
  display: block;
}
footer .content .copyright {
  border-top: 1px solid #fff;
  width: 1200px;
  padding-top: 18px;
  margin-top: 26px;
}
footer .content .copyright p {
  text-align: center;
  color: #fff;
  font-size: 14px;
}
.banner img {
  width: 100%;
}
.quality {
  width: 100%;
}
.quality .content {
  margin: 50px auto;
  width: 1200px;
}
.quality .content .box-case {
  margin-bottom: 50px;
}
.quality .content .box-case .title {
  font-size: 38px;
  color: #2e2e2e;
  border-left: 6px solid #73d196;
  padding-left: 10px;
  margin-bottom: 20px;
}
.quality .content .box-case .box > img {
  float: left;
  width: 330px;
  height: 461px;
}
.quality .content .box-case .box .vadio {
  border-top: 1px solid #ddd;
  box-sizing: border-box;
}
.quality .content .box-case .box a {
  float: left;
  display: block;
  margin: 30px 0 0 30px;
  width: 260px;
  height: 200px;
  transition: all 0.5s ease-in-out;
}
.quality .content .box-case .box a:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
.quality .content .box-case .box .text {
  width: 260px;
  height: 60px;
  box-sizing: border-box;
  padding: 6px 10px;
}
.quality .content .box-case .box .text p {
  font-size: 16px;
  color: #000;
  margin-top: 6px;
}
.quality .content .box-case .box .text ul {
  margin-top: 7px;
  font-size: 10px;
  color: #7e7e7e;
}
.quality .content .box-case .box .text ul li:nth-child(1) {
  float: left;
}
.quality .content .box-case .box .text ul li:nth-child(1) b {
  display: inline-block;
  width: 16px;
  height: 10px;
  background: url(../img/eye.png);
  margin-right: 5px;
}
.quality .content .box-case .box .text ul li:nth-child(2) {
  float: right;
}
